.square {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: .3;
  transition: width 500ms;
}

.square--grey {
  background: #cccccc;
}

.square--green {
  background: green;
}

.square--orange {
  background: orange;
}

.square--red {
  background: red;
}